components/ui
./components/ui
lib/utils.ts
./lib/utils.ts
.next
app/global-error.jsx
app/sentry-example-page
app/api/sentry-example-api/route.js
app/api/auth/register/route.ts
app/api/auth/
app/_components/patient/settings
app/patients/page.tsx